{% extends 'base.html.twig' %}

{% block title %}Liste des Etudes{% endblock %}

{% block body %}
<h1>Liste des Plages en Lien avec l'{{ etudes.titreetude }}</h1>
{% if app.user %}

   {% set foo = 0 %}
   {% for etude_has_plage in etude_has_plages %}
      {% if  foo != etude_has_plage.idplage %}

         <div class="card">
         <div class="card-header">
         {% set foo = etude_has_plage.idplage %}
         
            {% for plage in plages %}

               {% if plage.idplage == etude_has_plage.idplage %}
                  {{ plage.nomplage }}
               {% endif %}
               
            {% endfor %} 

            </div>
            <div class="card-body">
               {# <h5 class="card-title">{{ etude.titreetude }}</h5> #}
               <p class="card-text">Id De l'étude à virer un jour : {{ etude_has_plage.idetude }}</p>
                  <p class="card-text">Id De la Plage à virer un jour : {{ etude_has_plage.idplage }}</p>
               <a href={{ path("zone",{"idEtude":etude_has_plage.idetude,"idPlage":etude_has_plage.idplage}) }} class="btn btn-info">Zone en liens avec La Plage</a> 
            </div>
            </div>  

            <br>
         
         {% endif %}   
   {% endfor %}

    <br> 

<div class="card">
  <h5 class="card-header">Ajouter une Plage à l'étude</h5>
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text"> </p>
       <a href={{ path("ajout_plage_has_etude",{"idEtude":etudes.idetude}) }} class="btn btn-info">Ajouter une Plage à l'étude</a>    
  </div>
</div>

 <br> 

{% else %}

<a>Veuillez d'abord vous connectez sur un compte valide </a>
<a>Pour accéder au contenu des études </a>

{% endif %}
{% endblock %}
